@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: "white"
}


.custom-card-image .card.image-full:before {
  border-radius: 0.5rem;
  opacity: 0.45;
}

main::-webkit-scrollbar{
  width: 0;
  border-radius: 10px;
}
div::-webkit-scrollbar {
  width: 2px;
}

div::-webkit-scrollbar-track {
  background: transparent;
}

div::-webkit-scrollbar-thumb {
  background: lime;
}

.main{
  margin-top: 40px;
  width: 250px;
  height: 150px;
  border-bottom: 1px solid white;
  border-radius: 10px;
}
.link-to-media:hover{
  /* background-color: lime; */
  color: lime;

}